<div id="country-name"><h1><%= @country.name %></h1>
<h2>Capital: <%=@country.capital %></h2></div>
<div id="react-country">
<%= react_component("AirportsList", {country: @country, airports: @airports, search: @search}) %>
</div>