<h1><%= @country.name %></h1>
<h2>Capital: <%=@country.capital %></h2>
<%= image_tag @country.images.first.image_url(:original) %>

<%= react_component("AirportsList", {country: @country, airports: @airports, search: @search}) %>