body.country {
  background-size: cover;
  background-attachment: relative;
  margin: 6rem;
  h1 {
    
  }
}
.country-wrapper {
  position: relative;
}
.country {
  background-color: white;
  margin: 3rem;
  h4 {
    font-size: 4rem;
    text-align: center;
  }
}

#country-name {
  color: white;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 3rem;
}

#top-flights-button {
  background-color: #33ffcc;
  color: white;
  height: 6rem;
  width: 18rem;
  font-size: 3rem;
  border: none;
  margin-bottom: 3rem;
}

.more-info-country {
  background-color: #33ffcc;
  color: white;
  height: 4rem;
  width: 16rem;
  font-size: 1.5rem;
  border: none;
}