
#devise {
  font-family: 'Quicksand', sans-serif;
  h1, h2 {
    font-weight: bold;
    font-size: 3rem;
  }
  text-align: center;
  .links {
    text-align: center;
    color: purple;
  }
  form {
    text-align: center;
    margin: 1.5rem;
    font-size: 1.5rem;
    .field {
      padding: 0.5rem;
      input {
        padding: 0.5rem;
      } 
      #traveller_email, #traveller_password {
          width: 20rem;
      }
    }
  }
  .actions {
    input {
      background-color: #33ffcc;
      color: white;
      height: 4rem;
      width: 10rem;
      font-size: 1.5rem;
      border: none;
      margin: 1rem;
    }
  }
  #devise-form {
    padding-bottom: 2rem;
    padding-top: 2rem;
    height: 80%;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.5);
  }
}