#devise {
  font-family: 'Quicksand', sans-serif;
  h1, h2 {
    font-weight: bold;
    font-size: 4rem;
  }
  text-align: center;
  .links {
    text-align: center;
    text-decoration: none;
    color: black;
    a {
      text-decoration: none;
      color: black;
    }
  }
  form {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    .field {
      padding: 1rem;
      input {
        padding: 1rem;
      } 
      #traveller_email, #traveller_password {
          width: 20rem;
      }
    }
  }
  .actions {
    input {
      background-color: #33ffcc;
      color: white;
      height: 4rem;
      width: 10rem;
      font-size: 2rem;
      border: none;
      margin: 1rem;
    }
  }
  #devise-form {
    position: fixed;
    width: 40rem;
    height: 48rem;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.5);
  }
}