#search {
  margin: 3rem;
  display: inline-block;
  // text-align: center;
  position: fixed;
  #budget-wrapper {
    top: 0;
  }
  fieldset {
    display: inline-block;
    margin: 0.2rem;
    input {
      height: 4rem;
    }
    #matchButton {
      background-color: #33ffcc;
      color: white;
      height: 4rem;
      width: 10rem;
      font-size: 2rem;
      border: none;
    }
    #budget-wrapper {
      display: inline-block;
      margin: 0.2rem;
    }
    .slider {
      text-align:center;
    }
  }
  h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: white;

  }
}