.form {
  font-family: 'Quicksand', sans-serif;
  margin: 3rem;
  #matchButton, #matchLink {
    background-color: #33ffcc;
    color: white;
    height: 4rem;
    width: 10rem;
    font-size: 2rem;
    border: none;
    margin: 1rem;
  }
  #search {
    margin: 3rem auto;
    text-align: center;
    margin-top: 20%;
    #budget-wrapper {
      top: 0;
    }
    fieldset {
      display: inline-block;
      margin: 0.2rem;
      input {
        height: 5rem;
        width: 20rem;
        font-size: 2rem;
      }
      button {
        height: 5rem;
      }
      h1 {
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        color: white;
      }
      #searchButton {
        margin: 1rem;
        color: white;
        height: 3rem;
        width: 10rem;
        font-size: 1.2rem;
        border: none;
        background-color: grey;
      }
    }
  }
}

#match {
  margin: 3rem auto;
  text-align: center;
  margin-top: 12rem;
    .form-wrapper {
      position: absolute;
      width: 30rem;
      background-color: rgba(255, 255, 255, 0.5);
      padding: 2rem;
    }
    #budget-wrapper {
      display: inline-block;
      margin: 0.2rem;
      label {
        font-size: 3rem;
      }
  }
  .slider {
    text-align:center;
    width: 20rem;
  }
}
