body.home {
  background-image: url("/city_fullsize.jpeg");
  background-size: cover;
  background-attachment: fixed;
  margin: 6rem;
  h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
  }
}